/algorithm/.idea
/algorithm/*.iml
/algorithm/target
/.idea
/algorithm/individuals.arff
/algorithm/test.arff
/algorithm/test.xml
/test.arff
/test.xml
/dockerwrapper/.idea
/dockerwrapper/*.sh
/dockerwrapper/test/TestScript.py
/algorithm/resources/Experiments/left.arff
/algorithm/resources/Experiments/leftweka.arff
/algorithm/resources/Experiments/right.arff
/algorithm/resources/Experiments/rightweka.arff
/algorithm/resources/Experiments/rightlocal.arff
/algorithm/resources/Experiments/leftlocal.arff
/algorithm/validate.arff
/algorithm/resources/Experiments/center.arff
/algorithm/resources/Experiments/centerlocal.arff
